.result {
  height: 60px;
  background: transparent;
  width: 100%;
  border-radius: 12px 12px 12px 12px;
  border-style:inset;
}

.result p {
  font-size: 40px;
  margin: 5px;
}

.calculator-body {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.button {
  display: block;


}

button {
  width: 25%;
  height: 60px;
  font-size: 25px;
  border-radius: 12px 12px 12px 12px;
  background:  transparent;
}

 button:hover  {
     color:  #fff;
     background:  rgba(255, 255, 255, 0.2);
 }
